*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;       /*used to give color to text*/
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/* box2 */

.add-first{
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 23px;
}

.address-icon{
    display: flex;
    align-items: center;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 860px;
    height: 40px;
    border-radius: 3px;
}

.nav-search:hover{
    border: 2px solid orange ;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0F1111;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}

.lang{
    height: 50px;
    display: flex;
    text-align: center;
    align-items: flex-end;
}

.lang span{
    margin-bottom: 10px;
}

.lang-select{
    background-color: #0F1111;
    color: white;
    border: none;
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.acc-greet{
    color: white;
    font-size: 12px;
    margin-left: 3px;
}

.acc-acc{
    background-color: #0F1111;
    color: white;
    font-size: 14px;
    font-weight: 700   ;
    border: none;
}
.return-ret{
    color: white;
    font-size: 12px;
    margin-left: 3px;
}
.return-order{
    color: white;
    font-size: 14px;
    font-weight: 700
}

.cart i{
    font-size: 28px;
}
.cart{
    font-size: 14px;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel-opt p{
    display:inline;
    padding: 8px;
}

.panel-opt{
    width: 95%;
    font-size: 14px;
    font-weight: 200;
}

.hero{
    background-image: url("71qcoYgEhzL._SX3000_.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.hero-message a{
    color: #2162a1;
    text-decoration: none;
}

.hero-message a:hover{
    text-decoration: underline;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #0B131E 5%, #e2e7e6 90%);
}

.box{
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 10px;
}

.box-image{
    height: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
    background-size: cover;
    background-position: center;
}

.box-content{
    margin-left: 15px;
    margin-right: 15px;

}

.box-content a{
    font-size: 13px;
    margin-top: px;
    color: #2162a1;
    text-decoration: none;
}

.box-image2{
    height: 300px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.top, .bottom{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}

.item{
    width: 48%;
}

.item img{
    width: 90%;
    height: 110px;
    object-fit: cover;
}

footer{
    margin-top: 15px;
}

.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.foot-panel1:hover{
    background-color: #485769;
}

.foot-panel2{
    background-color: #232F3E;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 50px;
}

.start{
    margin-left: 150px;
}

.end{
    margin-right: 150px;
}
ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

ul a:hover{
    text-decoration: underline;
}

.foot-panel3{
    background-color: #232F3E;
    color: white;
    border-top:  2.5px solid #2E3948;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    height: 50px;
    width: 100px;
    background-image: url(amazon_logo.png);
    background-size: cover;
}

.foot-panel4{
    background-color: #131A22;
    height: 80px;
    color: #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.pages a{
    text-decoration: none;
    color: #dddddd;
    margin-right: 14px;
}

.pages a:hover{
    text-decoration: underline;
}

.copyright{
    margin-top: 5px;
}